@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins",sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    transition: background 0.4s ease-in-out,color 0.4s ease-in-out;
}
body.dark{
    background-color: #1f1f1f;
    color: white;
}

h1{
    margin-bottom: 0.4rem;
}

body p{
    width: 760px;
    max-width: 100%;
}

.toggle-container{
    position: absolute;
    top: 20px;
    right: 20px;
}