@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins",sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel{
    height: 500px;
    width: 500px;
    overflow: hidden;
}

.img-container{
    display: flex;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

.img-container img{
    height: 500px;
    width: 500px;
}